body {
	background-color: blue;
	text-align: center;
}
.main-header {
	
}
.form-div {
	background-color: #808080;
	width: 600;
	height: auto;

}
.onfield{
	width:600;
	height: auto;
	background-color: #808080;
}